# egrep -r -e "^(import|from) " * | awk -F':' '{print $2}' | awk '{print $2}' |awk -F'.' '{print $1}' | sed 's/[ \s\r\t]+//g' | sort | uniq > requirements.txt

Adafruit_DHT
Institut
argparse
astro_pi
astropidata
astropiprogressbar
astropithreaded
cmd
codecs
collections
copy
cputemp
csv
datetime
dateutil
ephem
gpiozero
logzero
math
matplotlib
mcclock
mcdisplays
mcmodels
mcpi
mcsensors
minecraftstuff
mpl_toolkits
numpy
os
pandas
pathlib
picamera
pygame
reverse_geocoder
sense_hat
setuptools
sys
threading
time
turtle
